@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-helvetica-now: var(--font-helvetica-now);
  --font-normal: 400;
  --font-ballet: var(--font-ballet);
  --font-pp-editorial: var(--font-pp-editorial);
  --font-some-type-mono: var(--font-some-type-mono);
}

html {
  overflow: hidden;
  background-color: #f5f5f5;
}

button {
  cursor: pointer;
}

.news-btn:active .nav-arrow {
  scale: 0.5;
}

.news::-webkit-scrollbar {
  display: none;
  background: transparent;
  width: 8px;
}

.news::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

::selection {
  background: #434343;
  color: #f5f5f5;
}

.showcase-row img {
  object-fit: contain;
  height: auto;
  aspect-ratio: 16/9;
}

.showcase-row img:nth-child(0) {
  width: 10vw;
}

.demo {
  view-transition-name: demo-title;
}

.text-fit {
  display: flex;
  container-type: inline-size;

  --captured-length: initial;
  --support-sentinel: var(--captured-length, 9999px);

  & > [aria-hidden] {
    visibility: hidden;
  }

  & > :not([aria-hidden]) {
    flex-grow: 1;
    container-type: inline-size;

    --captured-length: 100cqi;
    --available-space: var(--captured-length);

    & > * {
      --support-sentinel: inherit;
      --captured-length: 100cqi;
      --ratio: tan(
        atan2(
          var(--available-space),
          var(--available-space) - var(--captured-length)
        )
      );
      --font-size: clamp(
        1em,
        1em * var(--ratio),
        var(--max-font-size, infinity * 1px) - var(--support-sentinel)
      );
      inline-size: var(--available-space);

      &:not(.text-fit) {
        display: block;
        font-size: var(--font-size);

        @container (inline-size > 0) {
          white-space: nowrap;
        }
      }

      &.text-fit {
        --captured-length2: var(--font-size);
        font-variation-settings: "opsz" tan(atan2(var(--captured-length2), 1px));
      }
    }
  }
}

@property --captured-length {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

@property --captured-length2 {
  syntax: "<length>";
  initial-value: 0px;
  inherits: true;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

html.scrollbar-grabbing,
html.scrollbar-grabbing * {
  user-select: none !important;
  -webkit-user-select: none !important;
  cursor: grabbing !important;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
  transform-origin: center;
  overflow: hidden;
  /* border-radius: 4rem; */
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition {
  background-color: #111111;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
  transform: translateY(100%);
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}
