@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-helvetica-now: var(--font-helvetica-now);
  --font-normal: 400;
  --font-ballet: var(--font-ballet);
  --font-pp-editorial: var(--font-pp-editorial);
  --font-some-type-mono: var(--font-some-type-mono);
}

html {
  overflow: hidden;
  background-color: #f5f5f5;
}

::selection {
  background: #434343;
  color: #f5f5f5;
}
