@import "@workspace/ui/globals.css";

@theme inline {
  --font-helvetica-now: var(--font-helvetica-now);
  --font-ballet: var(--font-ballet);
  --font-pp-editorial: var(--font-pp-editorial);
  --font-some-type-mono: var(--font-some-type-mono);
}

html {
  overflow: hidden;
  background-color: #f5f5f5;
}
