@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-helvetica-now: var(--font-helvetica-now);
  --font-normal: 400;
  --font-ballet: var(--font-ballet);
  --font-pp-editorial: var(--font-pp-editorial);
}

html {
  overflow: hidden;
}

button {
  cursor: pointer;
}

.news-btn:active .nav-arrow {
  scale: 0.5;
}

.news::-webkit-scrollbar {
  display: none;
  background: transparent;
  width: 8px;
}

.news::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
}

::selection {
  background: #28f300;
  color: #000;
}

.demo {
  view-transition-name: demo-title;
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}

html.scrollbar-grabbing,
html.scrollbar-grabbing * {
  user-select: none !important;
  -webkit-user-select: none !important;
  cursor: grabbing !important;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none !important;
  transform-origin: center;
  overflow: hidden;
  /* border-radius: 4rem; */
}

::view-transition-group(root) {
  z-index: auto !important;
}

::view-transition-image-pair(root) {
  isolation: isolate;
  will-change: transform, opacity, clip-path;
  z-index: 1;
}

::view-transition {
  background-color: #141414;
}

::view-transition-new(root) {
  z-index: 10000;
  animation: none !important;
  transform: translateY(100%);
}

::view-transition-old(root) {
  z-index: 1;
  animation: none !important;
}
